<%-include('../partials/head')-%>

<body class="body">

    <%-include('../partials/navbar')-%>

    <!-- <%-include('../pages/aside')-%> -->

    <%-include('../pages/corrousel')-%>

    <%-include('../pages/select_cine_movie')-%>

    
    <div id="contenedor-peliculas">

    </div>

</body>

<%-include('../partials/scripts')-%>

<%-include('../partials/footer')-%>



